/* Скидання стилів */
@import url('reset.css');

/* Основні стилі */

* {
    color: rgb(160, 23, 23);
}
p {
    color: rgb(171, 10, 144);
}
.sh_games {
    color: rgb(159, 124, 70);
}
#links {
    color: yellow;
}
div.footer-container {
    color: rgb(12, 164, 12);
}
.header-container.refs {
    color: rgb(16, 69, 32);
}
.paragraf-1,
.paragraf-2 {
    color: rgb(0, 21, 128);
}
.header-container refs a {
    color: red;
}
.main-container .paragraf-3 {
    color: rgb(210, 12, 164);
}
.paragraf-4 + p {
    color: rgb(243, 255, 115);
}
[class*='footer-'] {
    color: rgb(0, 195, 255);
}
