@use 'sass:math';

@import '_reset.scss';
@import '_fonts.scss';
@import '_my-library.scss';

@include default-styles;

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* header і футер основи */
.header {
    @extend %header;
    background-color: rgb(192, 192, 255);
}

.footer {
    @extend %footer;
    background-color: rgb(255, 192, 221);
}

.just-header,
.just-footer {
    padding: toRem(30) 0;
    text-align: center;
}
/* ------------------------------------------------------------------------------------------------------------------------------ */
.button {
    background-color: $blue-color;
    color: black;
    text-align: center;
    padding: 30px;
    width: 300px;
    margin: auto;
}
