@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&family=Inter:wght@400;500;600&family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Cormorant+Infant:wght@700&family=Inter:wght@400;500;600&family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:regular,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular,italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:500,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Google fonts */
/* font-family: 'Cormorant Infant', serif;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */
/* Підключення вручну */
@font-face {
  font-family: "Causten";
  src: url(../fonts/causten-regular.woff2) format("woff2"), url(../fonts/causten-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url(../fonts/causten-bold.woff2) format("woff2"), url(../fonts/causten-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ca@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");@import url("https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap");sten';
  src: url(../fonts/causten-semi-bold.woff2) format("woff2"), url(../fonts/causten-semi-bold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url(../fonts/causten-light.woff2) format("woff2"), url(../fonts/causten-light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Semi bold 600 як в макеті знайти не вдалось. Сподіваюсь Анджела не помітить. Все одно це вона має мені шрифти надати. */
@font-face {
  font-family: "Core Sans C";
  src: url(../fonts/CoreSansC-45Regular.woff2) format("woff2"), url(../fonts/CoreSansC-45Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url(../fonts/CoreSansC-55Medium.woff2) format("woff2"), url(../fonts/CoreSansC-55Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url(../fonts/CoreSansC-65Bold.woff2) format("woff2"), url(../fonts/CoreSansC-65Bold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url(../fonts/CoreSansC-75ExtraBold.woff2) format("woff2"), url(../fonts/CoreSansC-75ExtraBold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url(../fonts/CoreSansC-85Heavy.woff2) format("woff2"), url(../fonts/CoreSansC-85Heavy.woff) format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #101010;
  line-height: 1.46;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1250px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
/* header шапка */
.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgb(192, 192, 255);
}

/* Цей коментар типу потрапить в css  */
.header__black {
  background-color: #37393F;
}
@media (max-width: 960px) {
  .header__black {
    display: none;
  }
}
.header__info-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 19px 0;
}
.header__geo, .header__mail, .header__time {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__geo-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
}
.header__geo {
  gap: 9px;
}
.header__geo::before {
  content: "";
  -ms-flex-preferred-size: 18px;
      flex-basis: 18px;
  width: 18px;
  height: 25px;
  background: url(../img/location.svg) 50% 50% no-repeat;
}
.header__mail {
  gap: 11px;
}
.header__mail::before {
  content: "";
  -ms-flex-preferred-size: 23px;
      flex-basis: 23px;
  width: 23px;
  height: 20px;
  background: url(../img/mail.svg) 50% 50% no-repeat;
}
.header__time-refs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.header__time {
  gap: 4px;
}
.header__time::before {
  content: "";
  -ms-flex-preferred-size: 17px;
      flex-basis: 17px;
  width: 17px;
  height: 17px;
  background: url(../img/clock.svg) 50% 50% no-repeat;
}
.header__refs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header__ref {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 7px;
}
.header__ref:hover {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.header__white {
  background-color: #fff;
}
.header__main-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 33px 0;
}
@media (max-width: 960px) {
  .header__main-zone {
    padding: 13px 0;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.header__title {
  color: #37393F;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1080px) {
  .header__title {
    font-size: 20px;
  }
}
@media (max-width: 430px) {
  .header__title {
    font-size: 14px;
  }
}
.header__blue-l {
  color: #6B77E5;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 430px) {
  .header__blue-l {
    font-size: 14px;
  }
}
.header__button {
  color: #FFF;
  text-align: center;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  background-color: #6B77E5;
  padding: 21px 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .header__button:hover {
    background-color: #2e3ed1;
    border-radius: 12px;
  }
}
@media (max-width: 1080px) {
  .header__button {
    font-size: 16px;
    padding: 11px 25px;
  }
}
@media (max-width: 430px) {
  .header__button {
    font-size: 14px;
    padding: 7px 10px;
  }
}

.icon-menu {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 1080px) {
  .menu {
    gap: 30px;
  }
}
@media (max-width: 960px) {
  .menu__body {
    /* Сховане сбоку меню яке буде виїзджати потім */
    position: fixed;
    width: 100%;
    height: 100%;
    /* Оверфлоу треба щоб був скрол у бургер меню дуже важливо. */
    overflow: auto;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    padding: 80px 15px 30px 15px;
    background-color: #f7ab78;
  }
  .menu__body::before {
    /* Запобіжник щоб бургер меню не наїзджяло на іконки */
    content: "";
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: -100%;
    z-index: 2;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #f7ab78;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media (max-width: 1080px) {
  .menu__list {
    gap: 30px;
  }
}
@media (max-width: 960px) {
  .menu__list {
    /* Перетворюємо меню на вертикальне і розташовуємо справа */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    row-gap: 28px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.menu__item:nth-child(3) .menu__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 6px;
}
.menu__item:nth-child(3) .menu__link::after {
  content: "";
  -ms-flex-preferred-size: 15px;
      flex-basis: 15px;
  width: 15px;
  height: 10px;
  background: url(../img/vector-down.svg) 50% 50% no-repeat;
  padding-top: 25px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.menu__link {
  color: #37393F;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1080px) {
  .menu__link {
    font-size: 16px;
  }
}
.menu__item--parent {
  position: relative;
}
.menu__item--parent:hover .sub-menu {
  opacity: 1;
  /* для трансформ ефекту типу воно підіймається знизу */
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  visibility: visible;
  /* А це треба щоб при зниканні меню ми не могли його піймати */
  pointer-events: all;
}
.menu__item--parent:hover .menu__link::after {
  /* after після link це стрілочка й це для повертання стрілочки при наведені */
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
@media (max-width: 960px) {
  .menu__item--parent.menu__link {
    /* Робиомо посилання блоковим */
    display: block;
  }
  .menu__item--parent.menu__link::after {
    display: none;
  }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}

.menu-open body {
  overflow: hidden;
}

.sub-menu {
  /* абсолютно позицірнуєм підменю під посиланням, що його відкриває і ховаємо */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 100%;
  left: 0;
  /* паддінг щоб був простір між посиланням і підменю */
  padding-top: 5px;
  /* трансформ ефект щоб воно типу як підіймалось */
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
  opacity: 0;
  visibility: hidden;
  /* Чудова властивість треба щоб ми не могли піймати меню коли воно зникає*/
  pointer-events: none;
}
@media (max-width: 960px) {
  .sub-menu {
    /* Змінюємо стиль підменю робимо його тепер видимим по замовчанню */
    position: relative;
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.sub-menu__list {
  /* Стилі для списку підменю, колір закруглення, тінь і т д */
  width: 200px;
  border-radius: 15px;
  padding: 15px;
  background-color: rgb(255, 147, 74);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 960px) {
  .sub-menu__list {
    /* Робимо список підменю на весь екран й без закруглених країв */
    width: 100%;
    border-radius: 0;
  }
}
.sub-menu__item:not(:last-child) {
  /* Відступ для всіх елементів списку крім останнього */
  margin-bottom: 10px;
}
@media (max-width: 960px) {
  .sub-menu__item:not(:last-child) {
    /* Задаємо відступи пунктам підменю */
    margin-bottom: 20px;
  }
}
.sub-menu__link {
  color: #37393F;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 960px) {
  .icon-menu {
    /* Кнопка для того, щоб виїзджало меню */
    width: 30px;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before,
  .icon-menu::after,
  .icon-menu span {
    /* Оті 3 палочки які малюють кнопку */
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
}
.get-free {
  background-color: #6B77E5;
  padding: 123px 0;
}
@media (max-width: 991.98px) {
  .get-free {
    padding: 43px 0;
  }
}
.get-free__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media (max-width: 991.98px) {
  .get-free__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.get-free__experience {
  padding: 35px 35px 35px 50px;
  margin-bottom: 50px;
  background-color: #40DDB6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
  min-height: 170px;
}
@media (max-width: 479.98px) {
  .get-free__experience {
    padding: 15px 15px 15px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
}
.get-free__projects {
  color: #FFF;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.21;
  text-align: center;
  position: relative;
  padding-top: 25px;
}
@media (max-width: 479.98px) {
  .get-free__projects {
    font-size: 24px;
  }
}
.get-free__projects span {
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 58px;
  left: 10%;
}
@media (max-width: 479.98px) {
  .get-free__projects span {
    font-size: 14px;
    top: 55px;
    left: calc(50% - 25px);
  }
}
.get-free__projects img {
  position: absolute;
  top: -10px;
  left: -20px;
}
@media (max-width: 479.98px) {
  .get-free__projects img {
    width: 100px;
    top: 0px;
    left: calc(50% - 50px);
  }
}
.get-free__projects img:nth-child(1) {
  z-index: 2;
}
.get-free__projects img:nth-child(2) {
  z-index: 1;
}
.get-free__service {
  color: #FFF;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27; /* 31.75px */
  max-width: 366px;
  padding: 9px 0;
}
.get-free__service span {
  color: #FFF;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.27;
}
@media (max-width: 1250px) {
  .get-free__service {
    font-size: 18px;
  }
  .get-free__service span {
    font-size: 18px;
  }
}

.flex-level {
  max-width: 587px;
}

.g-square-title {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.g-square-title::before {
  content: "";
  -ms-flex-preferred-size: 12px;
      flex-basis: 12px;
  width: 12px;
  height: 12px;
  background-color: #40DDB6;
}

.g-square-title--margin {
  margin-bottom: 16px;
}

.busness-title {
  color: #FFF;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.21; /* 48.4px */
}
@media (max-width: 479.98px) {
  .busness-title {
    font-size: 24px;
  }
}

.busness-title--margin {
  margin-bottom: 21px;
}

.busness-text {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.46; /* 26.314px */
}
@media (max-width: 479.98px) {
  .busness-text {
    font-size: 16px;
  }
}

.busness-text--margin {
  margin-bottom: 34px;
}

.jobs__item:not(:last-child) {
  margin-bottom: 18px;
}
.jobs__item:not(:last-child)::after {
  content: "";
  margin-left: 40px;
  width: 74%;
  height: 1px;
  background-color: #FFF;
}
.jobs__title {
  color: #FFF;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.jobs__title::before {
  content: "";
  -ms-flex-preferred-size: 27px;
      flex-basis: 27px;
  width: 27px;
  height: 27px;
  background: url(../img/confirmed-green.svg) 50% 50% no-repeat;
}
@media (max-width: 479.98px) {
  .jobs__title {
    font-size: 18px;
  }
}

.busness-text--jobs {
  max-width: 471px;
  padding-left: 42px;
}

.flex-appointment {
  max-width: 580px;
}

.app-form {
  padding: 58px;
  background-color: #FFF;
}
@media (max-width: 767.98px) {
  .app-form {
    padding: 18px;
  }
}
.app-form__field {
  margin-bottom: 30px;
  padding: 21px 33px;
  border: 1px solid #DDD;
  background-color: #F8F8F8;
  width: 100%;
}
.app-form__field:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 479.98px) {
  .app-form__field {
    padding: 11px 13px;
  }
}
.app-form__field--small {
  width: 47%;
}
.app-form__field--small:last-of-type {
  margin-left: 23px;
}
@media (max-width: 1250px) {
  .app-form__field--small {
    width: 100%;
  }
  .app-form__field--small:last-of-type {
    margin-left: 0px;
  }
}
.app-form__field--area {
  padding: 11px 33px;
  min-height: 139px;
}
@media (max-width: 479.98px) {
  .app-form__field--area {
    padding: 11px 13px;
  }
}
.app-form__button {
  color: #37393F;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  background-color: #40DDB6;
  padding: 21px 61px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .app-form__button:hover {
    border-radius: 12px;
    background-color: #00ffc3;
  }
}

.footer {
  width: 100%;
  background-color: #37393F;
  padding: 95px 0;
}
.footer__ref-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  padding-bottom: 54px;
  border-bottom: 1px solid #6C6D72;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1112px) {
  .footer__ref-zone {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.footer__logo-title {
  color: #FFF;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer__logo-title span {
  color: #40DDB6;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer__ref-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__ref-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer__info-wrapper h4 {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer__info-wrapper p {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__main-zone {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 1250px) {
  .footer__main-zone {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 590px) {
  .footer__main-zone {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__title {
  color: #40DDB6;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.footer__title::before {
  content: "";
  -ms-flex-preferred-size: 13px;
      flex-basis: 13px;
  width: 13px;
  height: 13px;
  background-color: #6B77E5;
}
.footer__subscribe {
  background: #474950;
  padding: 42px 36px;
  max-width: 480px;
}
@media (max-width: 590px) {
  .footer__subscribe {
    margin: 0 auto;
  }
}
@media (max-width: 530px) {
  .footer__subscribe {
    padding: 22px 16px;
  }
}
.footer__subs-word {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 6px;
}
.footer__text {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2; /* 39.634px */
  margin-bottom: 23px;
}
@media (max-width: 530px) {
  .footer__text {
    font-size: 14px;
  }
}
.footer .list-footer__link {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2; /* 39.634px */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .list-footer__link:hover {
  color: #40DDB6;
}
.footer .subscribe__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 530px) {
  .footer .subscribe__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer .subscribe__field {
  color: #37393F;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #FFF;
  padding: 22px 27px;
  max-width: 264px;
}
@media (max-width: 530px) {
  .footer .subscribe__field {
    padding: 22px 17px;
    max-width: 234px;
  }
}
.footer .subscribe__button {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  background-color: #6B77E5;
  padding: 22px 27px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .footer .subscribe__button:hover {
    background-color: #0c20d4;
  }
}
.footer__copyright-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 22px;
  border-top: 1px solid #6C6D72;
}
@media (max-width: 1080px) {
  .footer__copyright-zone {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer__copyright {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.44; /* 26.014px */
}
.footer__copyright span:nth-child(1) {
  color: #40DDB6;
}
.footer__copyright span:nth-child(2) {
  color: #6B77E5;
}
.footer__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__follow p {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.44; /* 26.014px */
}