/* Підключення шрифтів */
@import url('fonts.css');

/* Скидання стилів */
@import url('reset.css');

/* Основні стилі */
body {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: #101010;
    line-height: 1.46; /* 26.314px */
}

