@import "_reset.scss";
@import "_fonts.scss";

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #101010;
    line-height: 1.46;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
.main {
    display: flex;
    flex-direction: column;
}
[class*='__container'] {
    max-width: 1250px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* ------------------------------------------------------------------------------------------------------------------------------ */
/* header шапка */
.header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgb(192, 192, 255);
}
// Сила 1 коментарі
/* Цей коментар типу потрапить в css  */
// AMOGUS супер сила 1 не потрапить в SCSS

// Сила 2 змінні
    $whiteColor: #fff;
// body {
// 	background-color: $whiteColor;
// }

// Сила 3 норм вкладеність
// .block {
// 	.page & {
// 		// ...
// 	}
// 	&--active {
// 		// ...
// 	}
// 	// .block__container
// 	&__container {
// 		&:hover {
// 		}
// 		span {
// 		}
// 	}
// 	// .block__title
// 	&__title {
// 		&::before {
// 		}
// 	}
// 	// .block__body
// 	&__body {
// 		@media (max-width: 850px) {
// 			//   ....
// 		}
// 	}
// 	// .block__image
// 	&__image {
// 		// .block__image--big
// 		&--big {
// 		}
// 	}
// 	// .block__content
// 	&__content {
// 		&:last-child {
// 			// ....
// 		}
// 	}
// }

// Сила 4 Зручне копіювання класів з урахуванням вкладеності
// Cntrl + Shift + z ну ріл краще
// .menu {

//     &__body {
//     }

//     &__list {
//     }

//     &__item {
//     }

//     &__item--active {
//     }

//     &__link {
//     }

//     &__item--parent {
//     }
// }
// .sub-menu {

//     &__list {
//     }

//     &__item {
//     }

//     &__link {
//     }
// }

// Cntrl + Shift + x таке собі 
// .menu {
// }
// .menu__body {
// }
// .menu__list {
// }
// .menu__item {
// }
// .menu__item--active {
// }
// .menu__link {
// }
// .menu__item--parent {
// }
// .sub-menu {
// }
// .sub-menu__list {
// }
// .sub-menu__item {
// }
// .sub-menu__link {
// }

// --------------Далі-верстаємо--------------------------------------------------
// Треба самому зробити нормальний хедер, ще футер спробувати 1 раз,
// і блоків обємом десь на сторінку макету, також з якимось формами.
.header {

    &__black {
        background-color: #37393F;
        @media (max-width: 960px) {
            display: none;
        }
    }

    &__container {
    }

    &__info-zone {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 19px 0;
    }

    &__geo, &__mail, &__time{
        color: $whiteColor;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        display: inline-flex;
        align-items: center;
    }

    &__geo-mail {
        display: flex;
        align-items: center;
        gap: 42px;
    }

    &__geo {
        gap: 9px;
        &::before {
            content: '';
            flex-basis: 18px;
            width: 18px;
            height: 25px;
            background: url(../img/location.svg) 50% 50% no-repeat;
        }
    }

    &__mail {
        gap: 11px;
        &::before {
            content: '';
            flex-basis: 23px;
            width: 23px;
            height: 20px;
            background: url(../img/mail.svg) 50% 50% no-repeat;
        }
    }

    &__time-refs {
        display: flex;
        align-items: center;
        gap: 50px;

    }

    &__time {
        gap: 4px;
        &::before {
            content: '';
            flex-basis: 17px;
            width: 17px;
            height: 17px;
            background: url(../img/clock.svg) 50% 50% no-repeat;
        }
    }

    &__refs {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__ref {
        transition: all 0.3s;
        padding-top: 7px;
        &:hover {
            transform: scale(1.2, 1.2);
        }
    }

    &__img {

    }

    &__white {
        background-color: $whiteColor;
    }

    &__main-zone {
        display: flex;
        // gap: 40px;
        align-items: center;
        justify-content: space-between;
        padding: 33px 0;
        @media (max-width: 960px) {
            padding: 13px 0;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__title {
        color: #37393F;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media (max-width: 1080px) {
            font-size: 20px;
        }
        @media (max-width: 430px) {
            font-size: 14px;
        }
    }

    &__blue-l {
        color: #6B77E5;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @media (max-width: 430px) {
            font-size: 14px;
        }
    }

    &__button {
        color: #FFF;
        text-align: center;
        font-family: Cabin;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        background-color: #6B77E5;
        padding: 21px 35px;
        transition: all 0.3s;
        @media (any-hover: hover) {
            &:hover {
                background-color: #2e3ed1;
                border-radius: 12px;
            }
        }
        @media (max-width: 1080px) {
            font-size: 16px;
            padding: 11px 25px;
        }
        @media (max-width: 430px) {
            font-size: 14px;
            padding: 7px 10px;
        }
    }
}
.icon-menu {
	display: none;
}
.menu {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: 1080px) {
        gap: 30px;
    }
    &__body {
        @media (max-width: 960px) {
            /* Сховане сбоку меню яке буде виїзджати потім */
            position: fixed;
            width: 100%;
            height: 100%;
            /* Оверфлоу треба щоб був скрол у бургер меню дуже важливо. */
            overflow: auto;
            top: 0;
            left: -100%;
            transition: left 0.3s;
            padding: 80px 15px 30px 15px;
            background-color: #f7ab78;

            &::before {
                /* Запобіжник щоб бургер меню не наїзджяло на іконки */
                content: "";
                position: fixed;
                width: 100%;
                height: 50px;
                top: 0;
                left: -100%;
                z-index: 2;
                transition: left 0.3s;
                background-color: #f7ab78;
            }


        }

    }

    &__list {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        gap: 40px;
        @media (max-width: 1080px) {
            gap: 30px;
        }
        @media (max-width: 960px) {
            /* Перетворюємо меню на вертикальне і розташовуємо справа */
            flex-direction: column;
            text-align: right;
            row-gap: 28px;
            align-items: end;
        }
    }

    &__item {
        &:nth-child(3) {
            .menu__link {
                display: inline-flex;
                gap: 6px;
                // align-items: center;
                &::after {
                    content: '';
                    flex-basis: 15px;
                    width: 15px;
                    height: 10px;
                    background: url(../img/vector-down.svg) 50% 50% no-repeat;
                    padding-top: 25px;
                    transition: transform 0.3s;
                }
            }
        }
    }

    &__link {
        color: #37393F;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media (max-width: 1080px) {
            font-size: 16px;
        }
    }

    &__item--parent {
        position: relative;
        &:hover .sub-menu {
            opacity: 1;
        /* для трансформ ефекту типу воно підіймається знизу */
		transform: translate(0px, 0px);
		visibility: visible;
        /* А це треба щоб при зниканні меню ми не могли його піймати */
		pointer-events: all;
        }
        &:hover .menu__link::after {
            /* after після link це стрілочка й це для повертання стрілочки при наведені */
            transform: rotate(-180deg);
        }
        @media (max-width: 960px) {
            &.menu__link {
                /* Робиомо посилання блоковим */
                display: block;
                &::after {
                    display: none;
                }
            }
        }
    }
}
.menu-open .menu__body,
.menu-open .menu__body::before {
    // Виїзджання меню на видну позицію
    left: 0;
}
.menu-open body {
    // Це щоб не було прокрутки сайту поки відкрите меню
    overflow: hidden;
}
.sub-menu {
     /* абсолютно позицірнуєм підменю під посиланням, що його відкриває і ховаємо */
	transition: all 0.3s;
	position: absolute;
	top: 100%;
	left: 0;
    /* паддінг щоб був простір між посиланням і підменю */
	padding-top: 5px;
    /* трансформ ефект щоб воно типу як підіймалось */
	transform: translate(0px, 10%);
	opacity: 0;
	visibility: hidden;
	/* Чудова властивість треба щоб ми не могли піймати меню коли воно зникає*/
	pointer-events: none;
    @media (max-width: 960px) {
        /* Змінюємо стиль підменю робимо його тепер видимим по замовчанню */
		position: relative;
		visibility: visible;
		opacity: 1;
		padding-top: 10px;
		transform: translate(0px, 0px);
    }
    &__list {
        /* Стилі для списку підменю, колір закруглення, тінь і т д */
        width: 200px;
        border-radius: 15px;
        padding: 15px;
        background-color: rgba(255, 147, 74, 1);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        @media (max-width: 960px) {
            /* Робимо список підменю на весь екран й без закруглених країв */
            width: 100%;
            border-radius: 0;
        }
    }

    &__item {
        &:not(:last-child) {
            /* Відступ для всіх елементів списку крім останнього */
            margin-bottom: 10px;
            @media (max-width: 960px) {
                /* Задаємо відступи пунктам підменю */
                margin-bottom: 20px;
            }
        }
    }

    &__link {
        color: #37393F;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
@media (max-width: 960px) {
	.icon-menu {
        /* Кнопка для того, щоб виїзджало меню */
		width: 30px;
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
		z-index: 5;
	}
	.icon-menu::before,
	.icon-menu::after,
	.icon-menu span {
        /* Оті 3 палочки які малюють кнопку */
		content: "";
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		transition: all 0.3s;
		background-color: #000;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu span {
		top: 50%;
		margin-top: -1px;
	}
	.menu-open .icon-menu span {
		transform: scale(0);
	}
	.menu-open .icon-menu::before {
		transform: rotate(-45deg);
		top: 50%;
		margin-top: -1px;
	}
	.menu-open .icon-menu::after {
		transform: rotate(45deg);
		bottom: 50%;
		margin-bottom: -1px;
	}
}
// Хедер поки вистачить
.main {
    // background-color: #ffb4b4;
}
// Секція макету 1
.get-free {
    background-color: #6B77E5;
    padding: 123px 0;
    @media (max-width: 991.98px) {
        padding: 43px 0;
    }
    &__container {
    }

    &__flex {
        display: flex;
        gap: 50px;
        @media (max-width: 991.98px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__experience {
        padding: 35px 35px 35px 50px;
        margin-bottom: 50px;
        background-color: #40DDB6;
        display: flex;
        gap: 38px;
        min-height: 170px;
        @media (max-width: 479.98px) {
            padding: 15px 15px 15px 15px;
            flex-direction: column;
            margin-bottom: 20px;
        }
    }

    &__projects {
        color: #FFF;
        font-family: Poppins;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        // line-height: 1.21; 
        line-height: 1.21; 
        text-align: center;
        position: relative;
        padding-top: 25px;
        @media (max-width: 479.98px) {
            font-size: 24px;
        }
        & span {
            color: #FFF;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            position: absolute;
            top: 58px;
            left: 10%;
            @media (max-width: 479.98px) {
                font-size: 14px;
                top: 55px;
                left: calc(50% - 25px);
            }
        }
        & img {

            position: absolute;
            @media (max-width: 479.98px) {
                width: 100px;
                top: 0px;
                left: calc(50% - 50px);

            }
            top: -10px;
            left: -20px;
            &:nth-child(1) {
                z-index: 2;
            }
            &:nth-child(2) {
                z-index: 1;
            }
        }
    }

    &__service {
        color: #FFF;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.27; /* 31.75px */
        max-width: 366px;
        padding: 9px 0;

        & span {
            color: #FFF;
            font-family: Poppins;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.27;
        }
        @media (max-width: 1250px) {
            font-size: 18px;
            & span {
                font-size: 18px;
            }
        }
    }
}
.flex-level {
    max-width: 587px;
}
.g-square-title {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    &::before {
        content: '';
        flex-basis: 12px;
        width: 12px;
        height: 12px;
        background-color: #40DDB6;
    }
}
.g-square-title--margin {
    margin-bottom: 16px;
}
.busness-title {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.21; /* 48.4px */
    @media (max-width: 479.98px) {
        font-size: 24px;
    }
}
.busness-title--margin {
    margin-bottom: 21px;
}
.busness-text {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.46; /* 26.314px */
    @media (max-width: 479.98px) {
        font-size: 16px;
    }
}
.busness-text--margin {
    margin-bottom: 34px;
}
.jobs {

    &__item {
        &:not(:last-child) {
            margin-bottom: 18px;
            &::after {
                content: '';
                margin-left: 40px;
                width: 74%;
                height: 1px;
                background-color: #FFF;
            }
        }
    }

    &__title {
        color: #FFF;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: inline-flex;
        align-items: center;
        gap: 16px;
        &::before {
            content: '';
            flex-basis: 27px;
            width: 27px;
            height: 27px;
            background: url(../img/confirmed-green.svg) 50% 50% no-repeat;
        }
        @media (max-width: 479.98px) {
            font-size: 18px;
        }
    }

}
.busness-text--jobs {
    max-width: 471px;
    padding-left: 42px;

}
.flex-appointment {
    max-width: 580px;
}
.app-form {
    padding: 58px;
    background-color: #FFF;
    @media (max-width: 767.98px) {
        padding: 18px;
    }

    &__get-app {
    }

    &__areas {
    }

    &__field {
        margin-bottom: 30px;
        padding: 21px 33px;
        border: 1px solid #DDD;
        background-color: #F8F8F8;
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 25px;
        }
        @media (max-width: 479.98px) {
            padding: 11px 13px;
        }
        
    }
    &__field--small {
        width: 47%;
        &:last-of-type {
            margin-left: 23px;
        }
        @media (max-width: 1250px) {
            width: 100%;
            &:last-of-type {
                margin-left: 0px;
            }
        }
    }
    &__field--area {
        padding: 11px 33px;
        min-height: 139px;
        @media (max-width: 479.98px) {
            padding: 11px 13px;
        }
    }
    

    &__button {
        color: #37393F;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        background-color: #40DDB6;
        padding: 21px 61px;
        transition: all 0.3s;
        @media (any-hover: hover) {
            &:hover {
                border-radius: 12px;
                background-color: #00ffc3;
            }
        }
    }
}
// Секція макету 2 можливо
.footer {
    width: 100%;
    background-color: #37393F;
    padding: 95px 0;
    &__container {
    }

    &__ref-zone {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        padding-bottom: 54px;
        border-bottom: 1px solid #6C6D72;
        flex-wrap: wrap;
        @media (max-width: 1112px) {
            justify-content: center;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__logo-title {
        color: #FFF;
        font-family: Poppins;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        & span {
            color: #40DDB6;
            font-family: Poppins;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    &__ref-flex {
        display: flex;
        gap: 60px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__ref-item {
        display: inline-flex;
        align-items: center;
        gap: 10px;
    }

    &__img {
    }

    &__info-wrapper {
        & h4 {
            color: #FFF;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        & p {
            color: #FFF;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    // важний
    &__main-zone {
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;
        @media (max-width: 1250px) {
            justify-content: space-around;
        }
        @media (max-width: 590px) {
            justify-content: space-between;
        }
    }

    &__list-item {
    }

    &__title {
        color: #40DDB6;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: inline-flex;
        align-items: center;
        gap: 5px;
        &::before {
            content: '';
            flex-basis: 13px;
            width: 13px;
            height: 13px;
            background-color: #6B77E5;
        }
    }

    &__list {
    }

    &__subscribe {
        background: #474950;
        padding: 42px 36px;
        max-width: 480px;
        @media (max-width: 590px) {
            margin: 0 auto;
        }
        @media (max-width: 530px) {
            padding: 22px 16px;
        }
    }

    &__subs-word {
        color: #FFF;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 6px;
    }

    &__text {
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 2.20; /* 39.634px */
        margin-bottom: 23px;
        @media (max-width: 530px) {
            font-size: 14px;
        }
    }

    .list-footer {

            &__item {
            }

            &__link {
                color: #FFF;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 2.20; /* 39.634px */
                transition: all 0.3s;
                &:hover {
                    color: #40DDB6;
                }
            }
    }
    .subscribe {
        
            &__flex {
                display: flex;
                @media (max-width: 530px) {
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }

            &__field {
                color: #37393F;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background: #FFF;
                padding: 22px 27px;
                max-width: 264px;
                @media (max-width: 530px) {
                    padding: 22px 17px;
                    max-width: 234px;
                }
            }

            &__button {
                color: #FFF;
                text-align: right;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                background-color: #6B77E5;
                padding: 22px 27px;
                transition: all 0.3s;
                @media (any-hover: hover) {
                    &:hover {
                        background-color: #0c20d4;
                    }
                }
            }
    }


    &__copyright-zone {
        display: flex;
        justify-content: space-between;
        padding-top: 22px;
        border-top: 1px solid #6C6D72;
        @media (max-width: 1080px) {
            flex-wrap: wrap;
        }
    }

    &__copyright {
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.44; /* 26.014px */
        & span:nth-child(1) {
            color: #40DDB6;
        }
        & span:nth-child(2) {
            color: #6B77E5;
        }
    }

    &__follow {
        display: flex;
        gap: 12px;
        align-items: center;
        & p {
            color: #FFF;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.44; /* 26.014px */
        }
    }
}





